<div id="degree-filter" class="panel">
    <h3>Restaurant</h3>
    <p>Show results based on:</p>
    <hr>
    <div class="form-check">
      <input class="user-filter restaurant-filter regular-checkbox" type="checkbox" value="0" id="user-list" checked>
      <label class="form-check-label degree-label" for="user-list">
        My List
      </label>
    </div>
    <div class="form-check">
      <input class="restaurant-filter regular-checkbox" type="checkbox" value="1" id="first-degree">
      <label class="form-check-label degree-label" for="first-degree">
        1st Degree Connections
      </label>
    </div>
    <div class="form-check">
      <input class="restaurant-filter regular-checkbox" type="checkbox" value="2" id="second-degree">
      <label class="form-check-label degree-label" for="second-degree">
        2nd Degree Connections
      </label>
    </div>
    <div class="form-check">
      <input class="restaurant-filter regular-checkbox" type="checkbox" value="3" id="third-degree">
      <label class="form-check-label degree-label" for="third-degree">
        3rd Degree Connections
      </label>
    </div>
  </div>
  