<div id="friend-filter" class="panel">
  <h3>Friends</h3>
  <p>Choose the friends you want to see suggestions from:</p>
  <div class="d-flex align-items-center all-friends-toggler">
    <div id="triangle"></div>
    <p class="mb-0">Select All</p>
  </div>
  <hr>
  <div id="friends-list">

  </div>
</div>
