<div id="bottom-nav-filter" class="bottom-nav active">
  <div class="flex-fill">
    <%= link_to "Add a restaurant", restaurants_path, class: 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
  <div class="flex-fill">
    <%= link_to "Share my list", "#", class: 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
</div>

<div id="bottom-nav-home" class="bottom-nav">
  <div class="flex-fill">
    <%= link_to "Home", "#", class: 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
</div>
