.carousel-item {
  height: 100%;
  img {
    object-fit: cover !important;
    height: 100%;
  }
}

.carousel.slide{
  height: 100%
}

.carousel-picture-container{
  height: 40vh
}


.carousel-inner{
  height: 100%
}

.carousel-item{
  height: 100%
}
