.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader-logo {
  z-index: 5;
  width: 150px;
  height: 150px;
  padding-bottom: 10px;
  /*  Found this logo on google images  */
  background-image: asset-url('icons/android-icon-96x96.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}
.loader-circle {
  border-top: 6px solid #303b82;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
