.map-wrapper {
  position: sticky;
  top: 0px;
  z-index: 12;
  #info-window {
    border: 1px solid #1D347F;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    background: white;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 15;
    padding: 10px;
    width: 90%;
    margin: 0 auto;

    i {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
    }
  }
}

#map {
  position: relative;
  width: 100%;
  height: 40vh;
  z-index: 12;
}

#map-reload{
  width: 30%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
  background: #303B82;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;

}

.map-info-window{
  position: absolute;
    bottom: 14px;
    z-index: 999;
    background: white;
    width: 90%;
    left: 5%;
    height: 6vh;
    border: 1px solid;
    margin: 0px auto;
    border-radius: 8px;
    padding: 8px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
